@media only screen and (max-width: 1420px) {
  .home-gallery-image {
    height: 200px !important;
  }
  .contact {
    flex-direction: column;
  }
}

@media only screen and (max-width: 754px) {
  .home-services-list-item {
    width: 400px;
  }

  .home-services-list-item-description {
    bottom: -50px;
  }
}

@media only screen and (max-width: 554px) {
  .contact-information-map {
    height: 450px;
  }

  .home-services-list-item {
    width: 300px;
  }

  .home-services-list-item-description {
    font-size: 16px;
    bottom: -40px;
  }

  .home-services-list-item h2 {
    font-size: 26px;
  }
  .home-contact {
    padding-left: 16px;
    padding-right: 16px;
  }

  .home-contact-form-row label,
  .home-contact-form button,
  .home-contact-form-row input,
  .home-contact-form-row textarea {
    font-size: 24px;
  }
}

@media only screen and (max-width: 440px) {
  .home-services-item {
    width: 250px;
  }

  .home-services-item-description {
    font-size: 16px;
    bottom: -40px;
  }

  .home-services-item h2 {
    font-size: 24px;
  }
}
