@media only screen and (max-width: 1700px) {
  .creating-roads-production-column {
    width: 600px !important;
    height: auto !important;
  }

  .creating-roads-production-column > p {
    font-size: 24px;
  }

  .base-title-heading {
    font-size: 26px;
    line-height: 40px;
  }

  .base-title-description {
    font-size: 22px;
  }

  .section-title {
    font-size: 36px;
  }

  .home-services-list-item h2 {
    font-size: 24px;
  }

  .home-services-list-item-description {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1420px) {
  .home-gallery-image {
    height: 200px !important;
  }

  .contact {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1400px) {
  .mobile-header {
    display: block;
  }

  .nav {
    display: none;
  }
}

@media only screen and (max-width: 1254px) {
  .creating-roads-production {
    padding: 20px;
  }

  .creating-roads-production-column {
    width: 80% !important;
    height: auto;
  }

  .creating-roads-production-column > h1 {
    font-size: 26px;
    line-height: 40px;
  }

  .page-banner {
    font-size: 26px;
  }
}

@media only screen and (max-width: 998px) {
  table {
    font-size: 26px !important;
  }

  header h1 {
    font-size: 30px;
  }

  .header-info {
    font-size: 16px;
  }
}

@media only screen and (max-width: 754px) {
  .home-services-list-item {
    width: 400px;
  }

  .home-services-list-item-description {
    bottom: -50px;
  }

  header h1 {
    display: none;
  }

  .creating-roads-production-column {
    width: 100% !important;
  }

  .page-banner {
    font-size: 20px;
  }
}

@media only screen and (max-width: 554px) {
  header h1 {
    font-size: 20px;
  }

  .contact-information-map {
    height: 450px;
  }

  .home-services-list-item {
    width: 300px;
  }

  .home-services-list-item-description {
    font-size: 16px;
    bottom: -40px;
  }

  .home-services-list-item h2 {
    font-size: 26px;
  }
  .home-contact {
    padding-left: 16px;
    padding-right: 16px;
  }

  .home-contact-form-row label,
  .home-contact-form button,
  .home-contact-form-row input,
  .home-contact-form-row textarea {
    font-size: 24px;
  }

  table {
    font-size: 18px !important;
  }

  .prices-tables-row h2 {
    font-size: 30px;
  }

  .prices-tables {
    padding-left: 16px;
    padding-right: 16px;
  }

  .base-title-heading {
    font-size: 18px;
    line-height: 28px;
  }

  .base-title-description {
    font-size: 18px;
    margin-top: 26px;
  }

  footer p {
    font-size: 20px;
  }

  .section-title {
    font-size: 28px;
  }

  .home-services-list-item h2 {
    font-size: 20px;
  }

  .home-services-list-item-description {
    font-size: 16px;
  }
}

@media only screen and (max-width: 440px) {
  .home-services-item {
    width: 250px;
  }

  .home-services-item-description {
    font-size: 16px;
    bottom: -40px;
  }

  .home-services-item h2 {
    font-size: 24px;
  }

  .creating-roads-production-column > p {
    font-size: 20px;
  }

  .page-banner {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 0;
  }
}
