table {
  border-collapse: collapse;
  width: 100%;
  font-size: 30px;
  font-family: var(--text-font);

  tr {
    border: solid var(--blue-elegant);
    td,
    th {
      padding: 16px;
      text-align: left;
      color: var(--blue-elegant);
    }
  }
}
