@import "~react-image-gallery/styles/scss/image-gallery.scss";

.gallery-images {
  &-list {
    padding: 32px 100px;
    max-width: 1000px;
    margin: auto;
    background-color: var(--blue-elegant);
    border-radius: 30px;
  }
}
