footer {
  width: 100%;
  min-height: 200px;
  background-color: var(--blue-elegant);
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: var(--grey-light);
    font-size: 30px;
    font-family: var(--nav-font);
  }
}
