.prices {
  &-tables {
    padding: 60px;
    padding-top: 0;
    background-color: white;
    &-row {
      h2 {
        font-size: 44px;
        font-family: var(--text-font);
        color: var(--blue-elegant);
        letter-spacing: 1px;
        margin-top: 64px;
        margin-bottom: 16px;
      }
    }
  }
}
